<br>
<div id="content">
<div class="card">
    <div class="card-header">
        <h3>Detalle de Producto</h3>
    </div>
    <div class="card-body">
        <div>
            <table>
                <tr>
                    <td><b>Id:</b></td>
                    <td>{{producto.idProducto}}</td>
                </tr>
                <tr>
                    <td><b>Nombre:</b></td>
                    <td>{{producto.nomProducto}}</td>
                </tr>
                <tr>
                    <td><b>Descripcion:</b></td>
                    <td>{{producto.descripcion}}</td>
                </tr>
                <tr>
                    <td><b>Precio:</b></td>
                    <td>{{producto.precio}}</td>
                </tr>
                <tr>
                    <td><b>Stock:</b></td>
                    <td>{{producto.stock}}</td>
                </tr>
                <tr>
                    <td><b>Marca:</b></td>
                    <td>{{producto.marca}}</td>
                </tr>
            </table>
        </div>
    </div>
  </div>
</div>
<br>
