<br>
<div id="content">
<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Actualizar Producto</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="guardar()">
            <div class="form-group">
                <label for="idProducto">ID:</label>
                <input id="idProducto" class="form-control" type="number" name="idProducto" [(ngModel)]="producto.idProducto">
            </div>
            <div class="form-group">
                <label for="nomProducto">Nombre:</label>
                <input id="nomProducto" class="form-control" type="text" name="nomProducto" [(ngModel)]="producto.nomProducto">
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcio:</label>
                <input id="descripcion" class="form-control" type="text" name="descripcion" [(ngModel)]="producto.descripcion">
            </div>
            <div class="form-group">
                <label for="precio">Precio:</label>
                <input id="precio" class="form-control" type="number" name="celular" [(ngModel)]="producto.precio">
            </div>
            <div class="form-group">
                <label for="stock">Stock:</label>
                <input id="stock" class="form-control" type="text" name="stock" [(ngModel)]="producto.stock">
            </div>
            <div class="form-group">
                <label for="marca">Marca:</label>
                <input id="marca" class="form-control" type="email" name="marca" [(ngModel)]="producto.marca">
            </div>
            <br>
            <div class="text-center">
                <button class="btn btn-success">Actualizar</button>
            </div>
          </form>
        </div>
      </div>
</div>
</div>
<br>