<body>




  <div class="wrapper">


    <div class="body-overlay"></div>
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3><img src="http://cdn.shopify.com/s/files/1/0567/4644/2927/files/Logo-Letras_naranja_pequeno_1200x1200.png?v=1626378237" class="img-fluid" /><span>SysFerreteria</span></h3>
      </div>
      <ul class="list-unstyled components">
        <div class="small-screen navbar-display">

          <li class="d-lg-none d-md-block d-xl-none d-sm-block">
            <a href="#"><i class="material-icons">apps</i><span>apps</span></a>
          </li>

          <li class="d-lg-none d-md-block d-xl-none d-sm-block">
            <a href="#"><i class="material-icons">person</i><span>user</span></a>
          </li>

          <li class="d-lg-none d-md-block d-xl-none d-sm-block">
            <a href="#"><i class="material-icons">settings</i><span>setting</span></a>
          </li>
        </div>
        <li class="">
          <a href="#"><i class="material-icons">date_range</i><span>Home</span></a>
        </li>
        <li class="">
          <a routerLink="/clientes"><i class="material-icons">people_outline</i><span>Clientes</span></a>
        </li>
        <li class="">
          <a routerLink="/empleados"><i class="material-icons">badge</i><span>Empleados</span></a>
        </li>
        <li class="">
          <a routerLink="/productos"><i class="material-icons">inventory_2</i><span>Productos</span></a>
        </li>
        <li class="">
          <a routerLink="/agregarVenta"><i class="material-icons">add_shopping_cart</i><span>Generar Venta</span></a>
        </li>
        <li class="">
          <a routerLink="/ventas"><i class="material-icons">local_printshop</i><span>Detalle Ventas</span></a>
        </li>
      </ul>
    </nav>
  </div>
</body>