
.footer {
    border-top: 1px solid #e7e7e7;
}

footer {
    padding: 10px 0;
	position:relative;
	width:100%;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    color: inherit;
    padding: 15px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: block;
}


footer .copyright {
    padding: 15px;
	font-size:14px;
    margin: 0;
}

