<br>
<div id="content">
<div class="card">
    <div class="card-header">
        <h3>Detalle de Cliente</h3>
    </div>
    <div class="card-body">
        <div>
            <table>
                <tr>
                    <td><b>Id:</b></td>
                    <td>{{cliente.id}}</td>
                </tr>
                <tr>
                    <td><b>Nombre:</b></td>
                    <td>{{cliente.nombre}}</td>
                </tr>
                <tr>
                    <td><b>Apellido:</b></td>
                    <td>{{cliente.apellido}}</td>
                </tr>
                <tr>
                    <td><b>Celular:</b></td>
                    <td>{{cliente.celular}}</td>
                </tr>
                <tr>
                    <td><b>Dirección:</b></td>
                    <td>{{cliente.direccion}}</td>
                </tr>
                <tr>
                    <td><b>Email:</b></td>
                    <td>{{cliente.correoElectronico}}</td>
                </tr>
            </table>
        </div>
    </div>
  </div>
</div>
  <br>
