<br>
<div id="content">
<div class="card">
    <div class="card-header">
        <h3>Detalle de Cliente</h3>
    </div>
    <div class="card-body">
        <div>
            <table>
                <tr>
                    <td><b>Id:</b></td>
                    <td>{{empleado.dniEmpleado}}</td>
                </tr>
                <tr>
                    <td><b>Nombre:</b></td>
                    <td>{{empleado.nombre}}</td>
                </tr>
                <tr>
                    <td><b>Apellido Paterno:</b></td>
                    <td>{{empleado.apePat}}</td>
                </tr>
                <tr>
                    <td><b>Apellido Materno:</b></td>
                    <td>{{empleado.apeMat}}</td>
                </tr>
                <tr>
                    <td><b>Dirección:</b></td>
                    <td>{{empleado.direccion}}</td>
                </tr>
                <tr>
                    <td><b>Celular:</b></td>
                    <td>{{empleado.celular}}</td>
                </tr>
            </table>
        </div>
    </div>
  </div>
</div>
<br>