<br>
<div id="content">
<div class="card">
    <div class="card-header">
        <h3>Detalle de Ventas Realizadas</h3>
    </div>
    <div class="card-body">
        <div>
            <table>
                <tr>
                    <td><b>Id:</b></td>
                    <td>{{venta.idVentas}}</td>
                </tr>
                <tr>
                    <td><b>N° Comprobante:</b></td>
                    <td>{{venta.numeroDeComprobante}}</td>
                </tr>
                <tr>
                    <td><b>Venta Tolal:</b></td>
                    <td>{{venta.totalVentas}}</td>
                </tr>
                <tr>
                    <td><b>Fecha:</b></td>
                    <td>{{venta.fecha}}</td>
                </tr>
                <tr>
                    <td><b>Precio:</b></td>
                    <td>{{venta.precio}}</td>
                </tr>
                <tr>
                    <td><b>Cantidad:</b></td>
                    <td>{{venta.cantidad}}</td>
                </tr>
            </table>
        </div>
    </div>
  </div>
</div>
<br>
